/* Tucked type — self-hosted, no external font hosts (privacy stance).
   Baloo 2 (bubbly display: headings, buttons, nav) + Nunito (rounded body).
   Both are variable fonts served as single woff2 files; both OFL-licensed.
   Copy from apps/web/public/fonts — sources live in /assets/fonts. */

@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/Baloo2-Variable.woff2') format('woff2');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Variable.woff2') format('woff2');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}
